{% extends 'base.html' %}
{% block title %}
ACHYC - Sistema CFP3
{% endblock%}

{% block content %}
<div class="container mt-5">
  <div class="row">
      <div class="col-md-6 mt-5">
        <h1>CIFIC-CFP N° 3</h1>
          <h2>Juan Domingo Perón</h2>
          <p>San Cristóbal | CIUDAD DE BUENOS AIRES</p>
          <p>Humberto Primo 2252/2260 | (C1229AAJ) | Ciudad de Buenos Aires</p>
          <p>4308-2258 | 4941-2424 | cific3caba@uocra.org</p>
          <p>Horarios de atención: 8:30 a 21.45 hs.</p>
          <p><a href="#">Facebook</a> | <a href="#">Instagram</a></p>
      </div>
      <div class="col-md-6 mt-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d52532.759709254526!2d-58.397553!3d-34.621922!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccae1d59f44f5%3A0xcf9bf0302148c7cd!2sHumberto%201%C2%BA%202260%2C%20C1229AAJ%20CABA!5e0!3m2!1sen!2sar!4v1691449017935!5m2!1sen!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </div>
</div>
{% endblock%}
